<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Camigram
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-card *ngFor="let p of homePosts" >
    <ion-card-header>
      <ion-img [src]="'data:image/jpeg;base64,'+p.img"></ion-img>
      <ion-card-title> {{p.titulo}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
    <ion-grid>
      <ion-row style="flex-wrap: wrap-reverse">
        <ion-col style="text-align: right" >
          <ion-button color="dark" (click)="compartirPost(p)">
            <ion-icon name="share"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-infinite-scroll threshold="50px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Cargando más post">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="mostrarModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
